#nicknameForm{
	font-family: arial;
	display: none;
	position: fixed;
	background-color: black;
	color: white;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 114px;
	text-align: center;
}

#nicknameForm input{
	padding: 10px;
	border: none;
}

#nicknameForm button{
	margin: 10px;
	padding: 10px;
	background-color: #da7600;
	border: 3px solid #6f1500;
	color: white;
}

#leaderboardpage{
	font-family: arial;
	display: none;
	position: fixed;
	top: 30px;
	left: 30px;
	bottom: 30px;
	right: 30px;
	background-color: white;
	border: 3px solid #6f1500;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: auto;
}

#leaderboardpage p{
	padding: 10px;
}

#leaderboardpage button{
	padding: 10px;
	background-color: #da7600;
	border: 3px solid #6f1500;
	color: white;
	margin: 10px;
}